@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap:700,400');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 30px 0;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;

}

.nav-item {
  padding-left: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8794BA;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #8794BA;
  font-family: 'Roboto';
  padding-top: 0px;
}

.navbar-dark .navbar-nav .active .nav-link {
  color: #8794BA;
  font-family: 'Roboto';
  padding-top: 0px;
}

.btttn {
  background: rgba(239, 42, 130, 1);
  border-radius: 25px;
  color: white;
  width: 238px;
  height: 50px;
}

.bttn {
  color: #8794BA;
  font-family: 'Roboto';
  border: 1px solid #8794BA;
  text-align: center;
  background-color: transparent;
  outline: none;
  border-radius: 25px;
  width: 80px
}

.bttn:hover {
  color: #fbfbfb;

}

body {
  
  box-sizing: border-box;
  font-family: "Roboto";
  background-color: #EEEEF7;
}



.banner_wrapper {
  background-image: url('images/fold.png');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 180px 0 120px;
  padding-top: 130px;
  padding-right: 0px;

}

.top {
	position: absolute;
	top: 25%;
	left: -40px;
}

@media screen and (max-width: 1300px) {
  .top{
    display: none;
  }

}

@media screen and (max-width: 600px) {

  .touch-section .content .left{
    text-align: left;
    padding-left: 20px;
  }

}


.touch-text {
  padding-left: 10%;
}

 .touch-text .h-2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 120%;
  color: #FFFFFF;

}

.touch-text .p-1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #8794BA;

}

.touch-txt {
  padding-left: 4%;
}


.foot {
  background-image: url('images/background-bottom.png');
  background-repeat: no-repeat;
  height: 500;
  background-size: cover;
  padding-top: 200px;
}
.h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}
.h2 {
  font-size: 40px;
  line-height: 53px;
  font-weight: 700;
  color: #172755;
}
.body-text {
  font-size: 18px;
  line-height: 27px;
  color: #8794ba;
}

footer {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 3px solid #2a407c;
  padding-top: 4rem;
}

footer .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style-type: none;
 
}

footer .links ul li {
  color: #8794ba;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  
}

footer .social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  list-style-type: none;
 
}

footer .social ul li img {
  cursor: pointer;
}

.footer{
  background: #172755;}
.splitter{
  position: absolute;
  width: 1180px;
  height: 1px;
  left: calc(50% - 1180px/2);
  top: 3976px;
  background: #2A407C;
}
.menu_list{
height: 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #8794BA;

}
.menu{
  position: realtive;
  margin: auto;
  }
  
.menu_product{
  margin: auto;
  float: left;
  padding: 16px;
}

.footer_items{
  display: flex;
  flex-direction: row;
  align-items: center ;
}
.social_buttons{
  margin: auto;
  padding: 60px;
}
.social_buttons_padding{
  padding: 16px;
}

